.contact-social.icon-tile, .contact-social.icon-tile-light {
    padding: 10px 20px 20px 20px;
    .btn {
        text-align: left;
        font-size: $font-large;
    }
}

.contact-icon {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.contact-check {
    margin-right: 10px;
}

.contact-form {
  margin-bottom: 40px;
  clear: both;
  .form-submit {
    float: left;
  }
}

.contact-email {
  float: left;
  line-height: 32px;
  margin: 18px 0 0 20px;
}
