<div class="default-container row default-title">

    <div class="col-xs-12">

        <h2 class="font-grape">Contact</h2>
        <p class="font-grey-dark italic">Need help?</p>
    </div>

</div>

<div class="default-container row">

    <div class='col-md-8'>

        <div ng-show="success">
            <div class="icon-tile center">
                <h3>
                    <span class="fa fa-check-circle-o font-grape contact-check"></span>Message Received
                </h3>
            </div>

            <button type='submit' class='btn btn-primary' id="contact-reset" contact-reset>Reset</button>

        </div>

        <form cm-form name='contactForm' ng-class="{hidden: success}">
            <div class="input-group form-input">
                <span class="input-group-addon"><span class='fa fa-user'></span></span>
                <input type="text" name='name' class="form-control" placeholder="Name" ng-model='contact.name' cm-notempty>
            </div>
            <div class="form-error" ng-show="contactForm.name.$error.notempty">Please enter your name</div>
            <div class="input-group form-input">
                <span class="input-group-addon"><span class='fa fa-envelope'></span></span>
                <input type="text" name='email' class="form-control" placeholder="Email" ng-model='contact.email' cm-notempty cm-email>
            </div>
            <div class="form-error" ng-show="contactForm.email.$error.notempty">Please enter your email</div>
            <div class="form-error" ng-show="contactForm.email.$error.email">Please enter a valid email</div>
            <div class="input-group form-input">
                <span class="input-group-addon"><span class='fa fa-pencil'></span></span>
                <input type="text" name='subject' class="form-control" placeholder="Subject" ng-model='contact.subject' cm-notempty>
            </div>
            <div class="form-error" ng-show="contactForm.subject.$error.notempty">Please enter the subject of your message</div>
            <textarea name='message' class="form-control form-textarea" rows="12" ng-model='contact.message' cm-notempty></textarea>
            <div class="form-error" ng-show="contactForm.message.$error.notempty">Please enter your message</div>

            <div  ng-show="error" class=" form-alert alert alert-danger">
                Something went wrong, please try again later
            </div>

            <button type='submit' class='btn btn-primary form-submit'>Send</button>
        </form>

    </div>

    <div class="row divider-row visible-sm visible-xs">
        <div class='col-xs-12'>
            <div class='divider'></div>
        </div>
    </div>

    <div class='col-md-4'>

        <div class='icon-tile contact-social'>

            <h4 style="margin-top: 0;">Social Channels</h4>

            <div>
                <a class="btn btn-secondary block" href='https://www.facebook.com/NAVCoin' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-facebook'></span>
                    </span>
                    Facebook
                </a>
            </div>
            <div>
                <a class="btn btn-secondary block" href='https://twitter.com/NavCoin' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-twitter'></span>
                    </span>
                    Twitter
                </a>
            </div>
            <div>
                <a class="btn btn-secondary block" href='https://bitcointalk.org/index.php?topic=679791' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-bitcoin'></span>
                    </span>
                    Bitcointalk
                </a>
            </div>
            <div>
                <a class="btn btn-secondary block" href='http://www.reddit.com/r/navcoin' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-reddit'></span>
                    </span>
                    Reddit
                </a>
            </div>
            <div>
                <a class="btn btn-secondary block" href='https://navajocoin.slack.com' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-slack'></span>
                    </span>
                    Slack
                </a>
            </div>
            <div>
                <a class="btn btn-secondary block" href='https://www.cryptocereal.com' target='e'>
                    <span class='contact-icon'>
                        <span class='fa fa-wordpress'></span>
                    </span>
                    Blog
                </a>
            </div>

        </div>

    </div>

</div>
