.contact-social.icon-tile {
    padding: 20px;
    .btn {
        text-align: left;
        font-size: $font-large;
    }
}

.contact-icon {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.contact-check {
    margin-right: 10px;
}