/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/08/2015, 2:08:34 PM
    Author     : craig
*/

.navbar-default {
    border-bottom: 1px solid #DDD;
}

.navbar-brand {
    img {
        height: 24px;
    }
}