.colored-unit {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #DDD;
    &.grey {
        background-color: $grey-light;
    }
    &.white {
        background-color: $white;
    }
}