<div class="default-container row default-title">

    <div class="col-xs-12">

        <h2 class="font-grape">Calculators</h2>
        <p class="font-grey-dark italic">Some calculator tools for Nav Coin Transactions</p>
    </div>
</div>

<div class="default-container row">
  <div class="col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="{active: calc === 'fiat'}"><a href="/calculators/fiat" aria-controls="fiat" role="tab" data-toggle="tab">Fiat</a></li>
      <li role="presentation" ng-class="{active: calc === 'navtech'}"><a href="/calculators/navtech" aria-controls="navtech" role="tab" data-toggle="tab">Navtech Fee</a></li>
    </ul>
  </div>
</div>

<div id="fiat" ng-show="calc === 'fiat'">
  <div class="colored-unit white">
      <div class="default-container row">
        <div class="col-sm-12">
          <p>
            You can use this calculator to work out the NAV equivalent of various fiat currencies.
          </p>
        </div>
          <div class="col-sm-6">
            <form cm-form name='calculatorForm' ng-class="{hidden: success}" calculator-calculate>
              <div class="input-group form-input">
                <span class="input-group-addon"><span class='fa fa-dollar'></span></span>
                <select class="form-control" ng-model="calculator.currency" cm-notempty>
                  <option value="" selected disabled>Choose a currency</option>
                  <option value="USD">USD - United States Dollar</option>
                  <option value="AUD">AUD - Australian Dollar</option>
                  <option value="BRL">BRL - Brazilian Real</option>
                  <option value="CAD">CAD - Canadian Dollar</option>
                  <option value="CHF">CHF - Swiss Franc</option>
                  <option value="CNY">CNY - Chinese Yuan</option>
                  <option value="DKK">DKK - Danish Krone</option>
                  <option value="EUR">EUR - Euro</option>
                  <option value="GBP">GBP - British Pound</option>
                  <option value="HKD">HKD - Hong Kong Dollar</option>
                  <option value="ISK">ISK - Icelandic Krona</option>
                  <option value="JPY">JPY - Japanese Yen</option>
                  <option value="NZD">NZD - New Zealand Dollar</option>
                  <option value="PLN">PLN - Polish Zloty</option>
                  <option value="RUB">RUB - Russian Ruble</option>
                  <option value="SEK">SEK - Swedish Krona</option>
                  <option value="SGD">SGD - Singapore Dollar</option>
                  <option value="THB">THB - Thai Baht</option>
                  <option value="TWD">TWD - Taiwan Dollar</option>
                </select>
              </div>
              <div class="form-error" ng-show="calculatorForm.currency.$error.notempty">Please enter the currency you wish to convert from</div>
                <div class="input-group form-input">
                    <span class="input-group-addon"><span class='bold'>#</span></span>
                    <input type="text" name='amount' class="form-control" placeholder="Amount" ng-model='calculator.amount' cm-notempty>
                </div>
                <div class="form-error" ng-show="calculatorForm.amount.$error.notempty">Please enter the amount you wish to convert</div>

                <div class="input-group form-input">
                    <span class="input-group-addon"><span class='bold'>N</span></span>
                    <input type="text" name='address' class="form-control" placeholder="Receiving Nav Coin Address" ng-model='calculator.address'>
                </div>
                <div class="italic" style="margin-top: 5px;">Address is optional and for QR code generation only</div>

                <div class="form-error" ng-show="calculatorForm.address.$error.notempty">Please enter the nav address you wish to receive to</div>
                <div  ng-show="error" class=" form-alert alert alert-danger">
                    Something went wrong, please try again later
                </div>

                <button type='submit' class='btn btn-primary form-submit'>Calculate</button>
                <button type='button' class='btn btn-primary form-submit' id="calculator-reset" calculator-reset>Reset</button>

            </form>

          </div>
          <div class="col-sm-6" ng-show="loading">
            <div class="calculator-loader">
              <loading-animation></loading-animation>
            </div>
          </div>
          <div class="col-sm-6" ng-if="data">
            <table class="table table-bordered table-striped calculator-results" style="margin-bottom: 0">
              <tr><td class="bold">Fiat</td><td>{{calculator.currency}} {{calculator.amount}}</td></tr>
              <tr><td class="bold">BTC/{{calculator.currency}}</td><td>{{data["current-btc-price"]}}</td></tr>
              <tr><td class="bold">NAV/BTC</td><td>{{data["current-nav-price"]}}</td></tr>
              <tr><td class="bold">NAV</td><td>{{data["nav-amount"]}}</td></tr>
              <tr ng-if="data.address"><td class="bold">QR</td><td><img ng-src="{{data.qr}}" class="full-width" style="max-width: 200px;" /></td></tr>
            </table>
          </div>
      </div>
  </div>
</div>

<div id="navtech" ng-show="calc === 'navtech'">
  <div class="colored-unit white">
      <div class="default-container row">
        <div class="col-sm-12">
          <p>
            You can use this calculator to work total amount (including processing fee) to send through the Navtech System.
          </p>
        </div>
          <div class="col-sm-6">
            <form cm-form name='navtechForm' ng-class="{hidden: success}" navtech-calculate>
                <div class="input-group form-input">
                    <span class="input-group-addon"><span class='bold'>N</span></span>
                    <input type="text" name='amount' class="form-control" placeholder="Requested Amount" ng-model='navtech.amount' cm-notempty>
                </div>
                <div class="form-error" ng-show="navtechForm.amount.$error.notempty">Please enter the amount the recipient should receive</div>

                <div class="input-group form-input">
                    <span class="input-group-addon"><span class='bold'>%</span></span>
                    <input type="text" name='address' class="form-control" placeholder="Navtech transaction fee" ng-model='navtech.fee'>
                </div>
                <div class="italic" style="margin-top: 5px;">Navtech Fee Percentage is from 0 - 100, default fee is 0.5%</div>


                <div class="form-error" ng-show="navtechForm.address.$error.notempty">Please enter the nav address you wish to receive to</div>
                <div  ng-show="error" class=" form-alert alert alert-danger">
                    Something went wrong, please try again later
                </div>

                <button type='submit' class='btn btn-primary form-submit'>Calculate</button>
                <button type='button' class='btn btn-primary form-submit' id="navtech-reset" navtech-reset>Reset</button>

            </form>

          </div>
          <div class="col-sm-6" ng-show="loading">
            <div class="calculator-loader">
              <loading-animation></loading-animation>
            </div>
          </div>
          <div class="col-sm-6" ng-if="totalToSend">
            <table class="table table-bordered calculator-results table-striped" style="margin-bottom: 0">
              <tr><td class="bold">Total to Send</td><td>{{totalToSend}} NAV</td></tr>
              <tr><td class="bold">Navtech Fee</td><td>{{totalFee}} NAV</td></tr>
              <tr><td class="bold">Received Amount</td><td>{{totalToSend - totalFee}} NAV</td></tr>
              <tr><td class="bold">Calculation Used</td><td>{{navtech.amount}} * (1 - ({{navtech.fee}} / 100))</td></tr>
            </table>
            <div class="italic" style="margin-top: 5px;">The Navtech fee is rounded up to 8 decimal places</div>
          </div>
      </div>
  </div>
</div>
