<div class="default-container row default-title">

    <div class="col-xs-12">

        <h2 class="font-grape">Bounties</h2>
        <p class="font-grey-dark italic">See if you can help us and earn NAV while you're at it</p>
    </div>

</div>

<loading-animation ng-show="loading"></loading-animation>
<div class="colored-unit white" ng-show="!loading">

    <div class="default-container row">
        <div class="col-xs-12">

            <p>
              As a community coin with a small core team we often need help with some of our projects.
              If you are interested in claiming one of the listed bounties please make sure you contact the team on <a href='mailto:admin@navcoin.org'>admin@navcoin.org</a> before you start.
              We are only able to pay bounties on tasks which we have authorised.
            </p>

        </div>
    </div>
</div>
<div class="colored-unit" ng-show="!loading" style="border-bottom: none">
  <div ng-repeat="(key, bounty) in data">
    <div class="default-container row">
      <div class="col-xs-12">
        <h3>{{bounty.name}}</h3>
        <p ng-bind-html="bounty.description"></p>
        <p ng-bind-html="bounty.terms" class="font-xs italic font-grey-dark"></p>
        <p>contact <a href='mailto:admin@navcoin.org'>admin@navcoin.org</a></p>
        <span class="label label-default" ng-if="bounty.nav">{{bounty.nav | number}} NAV</span>
        <span ng-if="bounty.nav && bounty.btc">+</span>
        <span class="label label-default" ng-if="bounty.btc">{{bounty.btc | number}} BTC</span>
      </div>
    </div>
    <div class="default-container row divider-row" ng-if="key < data.length -1">
        <div class='col-xs-12'>
            <div class='divider' style="margin-top: 40px;"></div>
        </div>
    </div>
  </div>
</div>
