<div class="footer" ng-controller="FooterCtrl">
    
    <div class="default-container center footer-nav">
        <a href='/'>Home</a>&nbsp;&nbsp;&nbsp; 
        <a href='/downloads'>Downloads</a>&nbsp;&nbsp;&nbsp;
        <a href='/block-explorer'>Block Explorer</a>&nbsp;&nbsp;&nbsp;
        <a href='/rich-list'>Rich List</a>&nbsp;&nbsp;&nbsp;
        <a href='/faucet'>Faucet</a>&nbsp;&nbsp;&nbsp;
        <a href='/projects'>Projects</a>&nbsp;&nbsp;&nbsp;
        <a href='/foundation'>Foundation</a>&nbsp;&nbsp;&nbsp;
        <a href='/contact'>Contact</a>
  </div>
    
  <div class="default-container center">
   NAV Coin &copy; 2015. All Rights Reserved. Created by Craig MacGregor.
  </div>
</div>
