<div class="news-container">
  <div class="default-container row default-title">

      <div class="col-xs-12">

          <h2 class="font-grape">News</h2>
          <p class="font-grey-dark italic">The latest News from the Nav Coin Team</p>
      </div>

  </div>

  <loading-animation ng-if="loading"></loading-animation>

  <div ng-if="!loading">

    <div class="default-container row" ng-if="error" style="margin-bottom: 40px;">
      <div class="col-xs-12">
        <h3 class="font-grape">Error loading news feed</h3>
        <p>Something went wrong, please try reloading the page</p>
      </div>
    </div>

    <div ng-if="!error" class="wp-posts-container">
      <div class="default-container row">
        <div class="col-sm-8 wp-posts">
          <div ng-repeat="(key, post) in posts">
            <a href="/news/articles/post/{{post.slug}}"><h3>{{post.title}}</h3></a>
            <p class="font-grey-dark italic">
              {{post.date | date : "MMMM dd, yyyy"}} / {{post.author}}
            </p>
            <div class="news-social" style="margin-bottom: 10px;">
              <a class="btn btn-secondary fa fa-facebook" title="Facebook" target="e" ng-href="http://www.facebook.com/sharer.php?u=http://navcoin.org/news/articles/post/{{post.slug}}"></a>
              <a class="btn btn-secondary fa fa-twitter" title="Twitter" target="e" ng-href="https://twitter.com/intent/tweet?text={{post.title}}&url=http://navcoin.org/news/articles/post/{{post.slug}}"></a>
              <a class="btn btn-secondary fa fa-reddit-alien" title="Reddit" target="e" ng-href="http://www.reddit.com/wubmit?url=http://navcoin.org/news/articles/post/{{post.slug}}"></a>
              <a class="btn btn-secondary fa fa-google-plus" title="Google Plus" target="e" ng-href="https://plus.google.com/share?url=http://navcoin.org/news/articles/post/{{post.slug}}"></a>
              <a class="btn btn-secondary fa fa-linkedin" title="Linkedin" target="e" ng-href="https://www.linkedin.com/shareArticle?url=http://navcoin.org/news/articles/post/{{post.slug}}&title={{post.title}}"></a>
            </div>
            <p ng-bind-html="post.content"></p>
            <hr ng-if="key+1 < posts.length" />
          </div>
        </div>
        <div class="col-sm-4" style="margin-bottom: 40px;">
          <h3 class="font-grape">Recent Publications</h3>
          <div ng-repeat="(key, article) in articles">
            <div class="font-grey-dark italic">{{article.website}} - {{article.date}}</div>
            <a ng-href="{{article.url}}" target="e">
              <div class="font-medium">{{article.title}}</div>
            </a>
            <hr ng-if="key+1 < articles.length" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
