.wp-posts {
  margin: 0 auto;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: auto;
  }
  .more-link {
      @extend .btn;
      @extend .btn-primary;
  }
}
.wp-post-listing {
  margin: 0 auto;
  margin-bottom: 40px;
  blockquote {
    background-color: $grey-light;
  }
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    &.aligncenter {
      display: block;
      margin: 10px auto;
    }
  }
  .wp-caption-text {
    @extend .italic;
    @extend .font-grey-dark;
    text-align: center;
    margin-top: 5px;
  }

  .wp-caption {
    margin: 20px 0;
    img {
      margin: 0;
    }
  }
}

.news-social {
  .btn {
    width: 30px;
    height: 30px;
    padding: 7px;
  }
}

.pagination ul {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
  margin: 0;
}

.pagination li {
  display: inline;
  margin: 0 2px;
}

.next-page, .previous-page, .current-page, .numbered-page, .pagination-label {
  font-size: $font-medium;
  font-weight: bold;
}
