<div class="default-container row default-title">

    <div class="col-xs-12">
        
        <h2 class="font-grape">Downloads</h2>
        <p class="font-grey-dark italic">Wallets, Source code & Resources</p>
    </div>
    
</div>

<loading-animation ng-if="loading"></loading-animation>

<div class="default-container row" ng-if="!loading">
    
    <div class="col-md-4 col-sm-6 col-xs-12 center" ng-repeat="download in downloads">
       <div class="font-black icon-tile icon-link-tile full-width relative">
           <div ng-if="download.link" class="icon-rollover full-width full-height">
                <div class="icon-link">
                    <a ng-href="{{download.link}}" target="e" class="btn btn-primary">{{download.button}}</a>
                </div>
           </div>
           <div class="fa font-xxl block {{download.icon}}" ng-class="{'font-grey' : !download.link, 'font-ice' : download.link}"></div>
           <div class="icon-text">
            <p class="icon-caption bold">{{download.name}}</p>
           </div>
           <h4 class="bold icon-label absolute">{{download.type}}</h4>
       </div>
    </div>
   
</div>